<link rel="stylesheet" href="../../program/excel/css/style.css">

<div class="wrapper">
    <div class="flex-wrapper">
        <div class="flex-area1">
            <div class="table-nav">
                <form name="cls" action="/excel/<%= page %> ">
                    <% if(locals.dateValue) { %>
                        <input type="text" value="<%=dateValue%>" class="calender" name="date" placeholder="날짜를 선택 하세요.">
                    <% } else { %>
                        <input type="text" class="calender" name="date" placeholder="날짜를 선택 하세요.">
                    <% } %>   
                </form>
                
                <input class="xlsx-download" type="button" value="저장하기">
            </div>
        <table>
            <thead>
                <th>날짜</th>
                <th>이름</th>
                <th>전화번호</th>
                <th>체온</th>
                <th>증상</th>
                <th>기타 증상</th>
                <th>과거력</th>
                <th>국가</th>
                <th>입국일자</th>
                <th>접촉여부</th>
            </thead>
        <% let s = 0 %> 
        <% if( locals.rows) { %> 
            <% for(let i=0; i<rows.length; i++) { %>
                <tbody>
                    <td><%= rows[i].date %></td>
                    <td><%= rows[i].name %> </td>
                    <td><%= rows[i].phone %> </td>
                    <td><%= rows[i].temperature %> </td>
                    <td><%= rows[i].symtom %> </td>
                    <td><%= rows[i].etc_symtom %> </td>
                    <td><%= rows[i].covid %> </td>
                    <td><%= rows[i].country %> </td>
                    <td><%= rows[i].entry_date %> </td>
                    <td><%= rows[i].contact %> </td>
                </tbody>
                <% s++ %> 
            <% } %>  
        <% } %>  
        </table>
            <div class="page-nation">
                <% if(locals.maxPage) { %>
                    <% for(let i=1; i<=maxPage; i++) { %>
                        <a href="/excel/<%=i%><%=dateSelect%>"><%=i %> </a>
                    <% } %> 
                <% } %>
            </div>  
        </div>

        <div class="flex-area2">
            <ul class="excel-list">
                <% if(locals.filelist) { %>
                    <% for(let i=0; i<filelist.length; i++) {%>
                        <li>
                            <%=i+1 %>. <a href="../../excel/<%= filelist[i]%> " download=""><%=filelist[i]%></a>
                            <b> <a href="/excel/del/<%=filelist[i]%>">삭제</a> </b>         
                        </li>
                    <% } %> 
                <% } %> 
            </ul>
        </div>
    </div>
</div>
<script>
    flatpickr(".calender");
    let str,selectDate

    str = window.location.href 
    console.log(window.location.href)


    document.querySelector('.calender').addEventListener('change', () =>{
        document.cls.method="get"
        document.cls.submit()
    })

    document.querySelector('.xlsx-download').addEventListener('click', () =>{
        document.cls.method="post"
        document.cls.action="/excel/process"
        document.cls.submit()
    })


</script>